.extra-categories{
    
    display: flex;
    justify-content: center;
    
}

.category-styling{
    display: flex;
    flex-direction: column;
    
}

.time-inputs{
   
}

.cat-headers{
    padding-bottom: 2rem;
}

