$blue200: #b6daff;
$blue400: #3399FF;
$blue500: #007FFF;
$grey200: #d0d7de;



$light-theme: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-theme;
    color: $light-text;
  }

  @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}

.banner {
  @include theme-colors($light-theme: true);

  body.dark & {
    @include theme-colors($light-theme: false);
  }
}


@mixin textarea-styles($theme: $light-theme) {
  // Manages the Brief Description textarea styling
  width: 520px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px;
  border-radius: 12px 12px 0 12px;

  &:hover {
    border: 1px solid if($theme, $blue400, $grey200); // Use blue400 for light theme, grey200 for dark theme
  }

  &:focus {
    border: 1px solid $blue400;
    box-shadow: 0 0 0 3px if($theme, $blue500, $blue200); // Use blue500 for light theme, blue200 for dark theme
  }

  // Firefox
  &:focus-visible {
    outline: 0;
  }
}

.infoIcon {
  color: rgb(112, 112, 124);
  position: relative;
}

// ############################ FORM ELEMENTS ############################


// ################ Form dimensions control ################
.form-foreground {
  //controls the content screen container
  width: 1152px;
  height: 544px;
  overflow-y: auto;
}

.custom-accordion {
  width: 1150px; // determines the size of the accordions on all pages
}


.form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1352px; //controls the form background white container
  padding: 2rem;
  border-radius: .5rem;
  font-family: Arial;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 5px 5px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.form-tabs {
  display: flex;
  justify-content: flex-start;
  max-width: 1130px; //tabs container size
  overflow-x: hidden;
}


.formprime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // controls the portion of screen the form occupies
}


// ################ Tabs ################


.tab {
  color: #007FFF;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px 20px 0px 0;
  background-color: #f2f2f2;
  white-space: nowrap;
  cursor: pointer;
  
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.active-tab {
  background-color: rgba(245, 171, 11, 0.637);
  color: rgb(41, 11, 70);
  font-weight: bold;
}

// ################ Tabs end ################


// ################ Form dimensions control end ################

.help-text {
  // makes the help text on page 2 to come to the foreground for it's duration.
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-weight: bold;
  width: 1152px;
  height: 100px;
  z-index: 2;
  color: red;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-submit-container {

  width: 15px;
  height: 36px;
}

.page-counter {
  display: flex;
  justify-content: center;
  align-self: center;
}

.submit-btn {
  background-color: goldenrod;

  &:hover {
    background-color: #9a4f00;
  }
}

.advanced-view-btn {
  position: absolute;
  right: 0px;
  bottom: 0;
}

.basic-view-btn {
  position: absolute;
  left: 0px;
  bottom: 0;
}





 






.formTitle {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}



.form-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.formButtons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: .5rem;
  justify-content: flex-end;
  text-align: center;
}

.mode-label {
  font-weight: bold;
  margin-right: 15px;
}


.textarea-div {
  max-width: 520px;

}

.textarea-css {
  @include textarea-styles($light-theme);

}


.textbox-char-limit {
  display: block;
  text-align: left;
}

// ############################ FORM ELEMENTS END ############################



























// ################ Categories ################


.category-description {
  width: 1150px;
  height: 60px;

  span {
    font-size: small;
    word-wrap: break-word;
  }
}

.category-styling {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}


.main-category {
  h3 {
    margin-bottom: 20px;
  }

  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.indoor-main-options-cat {
  h3 {
    margin-bottom: 20px;
  }

  display: block;
  text-align: center;
}

.cat-headers {
  text-align: left;
}


.bedsnbaths-category {
  display: block;
  text-align: start;
  margin-bottom: 50px;

  h4 {
    margin-bottom: 10px;
  }
}

.bedsnbaths-flex {
  display: flex;
  justify-content: center;
  gap: 150px;
}






.textfield-category {
  h3 {
    margin-bottom: 10px;
  }

  display: block;
  text-align: center;
  margin-bottom: 4rem;

}

.textarea-category {
  h3 {
    display: block;
    margin: 80px 0 25px 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.textbox-char-limit {
  font-size: 0.8rem;
}

// ################ Categories end ################










// ################ Grids ################

.multi-options-grid {
  margin: 25px;
  display: grid;
  text-align: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}


.duo-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 15px;
  grid-template-areas:
    ". .";
  justify-content: center;
  justify-items: start;
}


.short-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 0px;
  grid-template-areas:
    ". . . .";
}

.media-query-custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  justify-content: center;
  justify-items: center;
}



// ################ Grids end ################



// ################ Lists ################
li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: lowercase;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px;
  }

  span {
    text-align: left;
  }
}

.linen-icons-spacing span.checkbox-tags {
  margin-left: 10px;
}


.label-content {
  display: flex;
  align-items: center;
}


.custom-textfield {
  height: 90%;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .label {
    display: flex;

    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;

    span {
      min-width: 170px;
      text-align: left;
      margin-right: 10px;
    }
  }

}



.list-item-container {
  display: flex;
  align-items: center;
  width: 80%;
  white-space: nowrap;

  .MuiInputLabel-root {
    width: 250px;
  }
}



svg {

  width: 24px;
  height: 24px;
}

.list-item-container .label {
  flex: 1;
  /* Allow label to take up the remaining space */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  min-width: 170px;
  /* Adjust width as needed */
  text-align: left;
}

.list-item-container .label span {
  margin-right: 10px;
  /* Add any other styles for the label */
}


.text-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.icons {
  width: 24px;
  height: 24px;
}



// ################ Lists end ################



// ################ Overrides ################
.css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
  width: 10px; // controls the size of the additional scroll buttons thar appear when the tabs no longer fit the container size
}

.MuiTabs-flexContainer {
  justify-content: flex-start;
}


.MuiFormControl-root {
  display: flex;
  align-items: center;
  /* Center items vertically */
  margin-bottom: 10px;
  /* Add some margin for spacing */
}


.MuiInputBase-root {
  flex: 1;
  /* Allow the input field to take up the remaining space */
  text-align: right;
  /* Right-align the input text */
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0;
}

// Mui class that was adding 12px margin top and bottom to the accordion vertical tabs. 


.MuiInputLabel-root {
  width: 190px;
  /* Adjust the label width as needed */
  text-align: right;
  /* Right-align the label text */
}

.MuiFormControlLabel-root {
  //Overrides an annoying margin on the fields containing a checkbox
  margin-left: 0;
  width: 240px;
}

.check-in-cat,
.views-category,
.lodging-type-category,
.nearby-services-category .MuiFormControlLabel-root {
  //Overrides an annoying margin on the fields containing a checkbox
  margin-left: unset;
  width: unset;
}

.views-category .checkbox-tags {
  min-width: 20px;
}


.outdoors-dining-cat .media-query-custom-breakpoint,
.ambience-n-terrain-cat .media-query-custom-breakpoint,
.outside-conveniences-cat .media-query-custom-breakpoint,
.outside-games-cat .media-query-custom-breakpoint,
.heating-cooling-cat .media-query-custom-breakpoint,
.laundry-services-cat .media-query-custom-breakpoint,
.indoor-amenities-cat .media-query-custom-breakpoint,
.indoor-wellness-cat .media-query-custom-breakpoint,
.utility-options-cat .media-query-custom-breakpoint,
.indoor-entertainment-cat .media-query-custom-breakpoint,
.safety-category .multi-options-grid,
.kitchen-category .multi-options-grid,
.general-amenities-category .multi-options-grid,
.nearby-services-category .multi-options-grid {
  display: grid;
  text-align: start;
  white-space: nowrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  justify-content: center;
  justify-items: center;
}

.internet-options-cat .media-query-custom-breakpoint {
  margin: 25px;
  display: grid;
  text-align: start;
  white-space: nowrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    ". . . "
    ". . ."
    ". . .";
  justify-content: center;
  justify-items: center;
}

.outside-extras-cat .media-query-custom-breakpoint {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 15px;
  grid-template-areas:
    ". .";
  justify-content: center;
  justify-items: center;
}


.linen-service-cat .MuiFormControlLabel-root {
  //Overrides an annoying margin on the fields containing a checkbox
  margin-left: 0;
  width: unset;
}

// ################ Overrides end ################