@import 'form.scss';
@import 'media-queries.scss';
@import 'media-queries/large-desktops';
@import 'media-queries/_medium-desktops';
@import 'media-queries/desktops';
@import 'media-queries/large-laptops';
@import 'media-queries/medium-laptops';
@import 'media-queries/laptops';
@import 'media-queries/tablets';
@import 'media-queries/large-mobiles';
@import 'media-queries/mobiles';
@import 'media-queries/smallest-mobiles';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

body {
background: url(../../../public/images/corfufeature.jpg);
background-size: cover;
background-position: center no-repeat;
}



