@media (max-width: 2100px) {//1651 - 2100px


  .form-navigation {
    width: 165px;
  }
  
  .form-nav-btns {
    width: 165px;
    margin-bottom: 10px;
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ". .";
  justify-content: center;
  justify-items: center;
  }

  .placeholder-back-btn {
    
    visibility: hidden;
  }


  .submit-btn {
    background-color: goldenrod;
   
}

  .submit-btn:hover {
    background-color: #9a4f00;
}

.mode-label {
  margin-right: 0px;
}


    // ################ Form dimensions control panel ##############
    
    .form-foreground {
      //controls the content screen container
      width: 1152px;
      height: 544px;
      overflow-x: hidden;
    }
    
    .custom-accordion {
      width: 1151px; // determines the size of the accordions on all pages
    }
    
    .form-background {
      //controls the form background white container
      width: 1352px;
    
    }
    
    .form-tabs {
      //tabs container size
      display: flex;
      justify-content: flex-start;
      max-width: 1220px;
      overflow-x: hidden;
    }
    
    
    // ################ Form dimensions control end ################
    






    
   
    // ################ Categories ###################
    
    .main-category {
      h3 {
        margin-bottom: 10px;
      }
    
      display: block;
      text-align: center;
      margin-bottom: 4rem;
    
    }
    
    
    .category-description {
      width: 1150px;
      height: 60px;
      span {
        font-size: small;
        word-wrap: break-word;
      }
    }

    
    
    .extra-categories {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
    
    .lodge-category {
      display: flex;
      flex-direction: row;
    }

    .kitchen-extras-cat {
      h3 {
        margin-top: 30px;
      }
    }

    .select-flex .MuiFormControl-root {
      display: flex;
      flex-direction: row;    
      span{
        margin-right: 10px;
      }
    }

    .pool-yes-no {   
      margin: 25px 30px 32px;
      
      
    }
   
    .pool-option {
      display: flex;
      justify-content: flex-start;
      white-space: nowrap;
    }

    .clients-favorite {
      color: red;
      position: relative;
      margin-top: -10px;
      font-size: 10px;
      font-weight: bolder;
    }

    .short-description {
      font-style: italic;
      color: rgba(128, 128, 128, 0.664);
    }

    // .distance-to-pois-category,
    // .distance-to-services-category,
    // .nearby-attractions-category,
    // .nearby-leisures-category,
    // .property-address-category,
    // .pool-dimensions-category,
    // .outside-extras-category,
    // .inside-options-cat,
    // .kitchen-extras-cat,
    // .common-area-beds-cat,
    // .keys-cat,
    // .linen-service-cat,
    // .safe-cleaning-cat,
    // .sanitation-cat {
    //   .duo-options-grid {
       
    //     justify-items: unset;
    //   }
    // }
    
    // ################ Categories end ###############
    
    
    
    
    
    
    // ################ Grids ########################
    .multi-options-grid {
      width: 1152px;
      display: grid;
      text-align: start;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 0px;
      grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";
      word-wrap: break-word;
      margin-bottom: 2rem;
      place-items: center;
    }


    
    
  
    
    // .media-query-custom-breakpoint {
    //   width: 1152px;
    //   display: grid;
    //   text-align: start;
    //   grid-template-columns: 1fr 1fr 1fr 1fr;
    //   grid-template-rows: auto;
    //   gap: 0px 0px;
    //   grid-template-areas:
    //     ". . . ."
    //     ". . . ."
    //     ". . . .";
    //   white-space: nowrap;
    //   margin-bottom: 2rem;
    //   place-items: center;
    
    // }

    // ################ Grids end ####################
    
    
    
    // ################ Lists ########################
    // label span {
    //   display: flex;
    // }


    .list-item-container {
      display: flex;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      .MuiInputLabel-root {
        width: 250px;
      }
      }

      
      .pool-dimensions-category .list-item-container,
      .common-area-beds-cat .list-item-container {
        display: flex;
        align-items: center;
        width: 90%;
        white-space: nowrap;
      }
    
    
    .list-item-container .label {
      flex: 1;
      /* Allow label to take up the remaining space */
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 5px;
      min-width: 130px;
      /* Adjust width as needed */
      text-align: left;
    }

    
    .check-in-cat .checkbox-tags {
      width: 173px;
      height: unset;
      align-items: center;
    }
    
  
    // ################ Lists end ####################
    

     // ################ 1651 - 2100px Overrides ####################
     .cooking-devices-cat .media-query-custom-breakpoint,
     .bedsnbaths-brief,
     .bbq-cat .media-query-custom-breakpoint 
     {// Quad column grid
      width: 1152px;
      display: grid;
      text-align: start;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 0px;
      grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";
      white-space: nowrap;
      margin-bottom: 2rem;
      place-items: center;
    }


    .general-info-categories .media-query-custom-grid {
      margin-top: 35px; //added margin on top of check-in fields
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0px 0px;
      gap: 0px 0px;
      grid-template-areas: ". . .";
      white-space: nowrap;
      justify-content: center;
      justify-items: center;
    }

    .duo-text-grid .list-item-container .label {
      flex: unset
    }

    .duo-text-grid
    {// Dual column grid
      width: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 100px;
      grid-template-areas:
        ". .";
      justify-content: center;
      justify-items: flex-start;
    }
   

    .extra-categories .media-query-custom-breakpoint
    {// Dual column grid
      width: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 100px;
      grid-template-areas:
        ". .";
      justify-content: center;
      justify-items: flex-start;
    }

    .beds-category .media-query-custom-breakpoint,
    .beds-heating-cat .media-query-custom-breakpoint,
    .baths-category .media-query-custom-breakpoint,
    .common-baths-cat .media-query-custom-breakpoint,
    .clean-method-cat .media-query-custom-grid {//makes the dual-column grid into a single column-grid. Takes care of texfields and their textboxes when there is no other way to align
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 0px 0px;
      gap: 0px 0px;
      grid-template-areas: "." 
                           "."
                           "."
                           ".";
      justify-content: center;
      justify-items: center;
    }

    

    .linen-service-cat .duo-options-grid,
    .cooking-means-cat .media-query-custom-breakpoint,
    .dining-area-utensils-cat .media-query-custom-breakpoint { // Triple column grid
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px px;
      grid-template-areas:
        ". . .";
        white-space: nowrap;
      justify-content: center;
      justify-items: center;
    }

   
    


  
    


         .css-15v22id-MuiAccordionDetails-root {
          padding: 0;
        }

        .property-type-cat .MuiFormControlLabel-root {
          width: 120px; /* Adjust the min-width as needed */
          }

          

          .nearby-services-category .multi-options-grid
          {
          justify-items: flex-start;
         }

         .clean-method-cat .list-item-container {
          width: unset;
        }

       
        .property-type-cat .multi-options-grid {
          gap: 0 0px;
          justify-items: center;
      }
        

      .lodging-type-category .multi-options-grid,
       .nearby-services-category .multi-options-grid,
        .cooking-devices-cat .multi-options-grid,
         .cooking-means-cat .multi-options-grid,
          .dining-area-utensils-cat .multi-options-grid {
        gap: unset;
    }

    .help-text-div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: white;
      width: 1352px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      margin: 0 auto;
    }

    .help-text { // makes the help text on page 2 to come to the foreground for it's duration.
      position: relative;
      font-weight: bold;
      width: 1100px;
      height: 100px;
      z-index: 20;
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .clean-method-cat .list-item-container,
  .scuba-snorkel-cat .list-item-container {
    width: 40%;
  }

  .common-sports-cat .MuiFormControlLabel-root {
    width: unset;
}
        
      // ################ Overrides end ################
    
    
    }// 1651 - 2100px
    